.playlist-header {
    /* height: var(--playlist-header-height, auto); */
    height: calc(
        var(--playlist-header-height) + var(--playlist-bottom-header-height) -
            34px
    );
    /* position: fixed; */
    top: 0;
    right: 0;
    background-color: #202225;
    width: var(--playlist-width);
    min-width: var(--playlist-min-width) !important;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* display: flex; */
    /* justify-content: space-between; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-header .top-header {
    display: flex;
}

.playlist-header .mid-header {
    /* width; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.playlist-header .mid-header .current-playing {
    margin: 0;
    padding: 0;
}

.playlist-header .mid-header .details {
    display: flex;
    justify-content: space-between;
    /* white-space: nowrap;
    overflow: hidden; */
}

.playlist-header .mid-header .details p {
    margin: 0;
    padding: 0;
}

.playlist-header .mid-header .details .title {
    padding-right: 20px;
    /* width: 200px !important; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-header .bottom-header {
    height: var(--playlist-bottom-header-height);
    display: flex;
    justify-content: space-between;
}
.playlist-header .bottom-header p {
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center;
}
